@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: white;
}

.main{
  background-image: url('/img/bg-img-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

header{
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
}

.header__nav-items{
  display: flex;
}

.header__nav-item{
  list-style: none;
  margin-left: 40px;

}

.header__nav-item a{
  text-decoration: none;
  color: white;
}

.progress {
  width: 100%;
  max-width: 260px;
  height: 6px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}
.progress .progress-bar {
  display: block;
  height: 100%;
  background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
  background-size: 300% 100%;
  -webkit-animation: progress-animation 2s linear infinite;
          animation: progress-animation 2s linear infinite;
}

@-webkit-keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}