@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: white;
}

p{
  color: #919096;
  font-size: 15px;
}

a{
  text-decoration: none;
}

.main{
  background-image: url('/img/dark-background.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
  padding: 30px 70px;
  display: flex;
  justify-content: space-between;
}

.header a{
  color: white;
}

.header__nav-items{
  display: flex;
}

.header__nav-item{
  list-style: none;
  margin-left: 50px;
}

.header__nav-item:hover a{
  transition: all 1.2s ease;
}

.header__nav-item:hover a{
  color: #cf925b;
}

.header__nav-item a{
  text-decoration: none;
  color: white;
}

.home{
  display: flex;
  justify-content: space-between;
  padding: 95px 70px;
}

.home__description{
  width: 50%;
  line-height: 30px;
}

.home__header{
  width: 50%;
}

.home__header-head{
  font-size: 55px;
}

.home__header-text{
  margin-top: 20px;
  line-height: 25px;
}

.progress {
  width: 100%;
  max-width: 260px;
  height: 4px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}
.progress .progress-bar {
  display: block;
  height: 100%;
  background: gray;
  background-size: 300% 100%;
}

.news{
  padding: 0px 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  background: rgba(0, 0, 0, 0.5);
}

.events{
  padding: 40px 0;
}

.events__title{
  text-transform: uppercase;
  margin-bottom: 20px;
}

.white{
  color: white;
}

.carousel-dots{
  display: flex;
}

.dot{
  background-color: gray;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 20px;
}

.dot_active{
  background-color: white;
}

.news__address{
  margin-top: 80px;
}

.news__card{
  display: flex;
}

.news__card-img{
  width: 200px;
}

.news__card-body{
  padding: 40px 20px;
}

.news__card-title{
  text-transform: uppercase;
  margin-bottom: 20px;
}

.news__card-link{
  margin-top: 10px;
  color: #cf925b;
}